* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.container1 {
  display: flex;
  padding: 20px;
}

.child1 {
  display: flex;
  width: 85%;
  margin: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav img {
  height: 32px;
  margin-right: 5px;
}
.nav p {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
}
.navlink {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navhov:hover {
  color: #e7816b;
}

.navlinkbot {
  color: #e7816b;
}

#midlink {
  margin: 20px;
}
.navlink a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: system-ui;
  font-weight: 500;
}

.container2 {
  background-color: #e7816b;
  height: 600px;
  width: 85%;
  margin: auto;
  border-radius: 15px;
  margin-top: 30px;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 80px;
}

#pre1 {
  color: white;
  font-size: 50px;
  font-family: sans-serif;
}
#pre2 {
  color: #ffffffab;
  font-size: 17px;
  font-family: sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

.frame button {
  border: none;
  height: 50px;
  width: 140px;
  border-radius: 10px;
  font-family: system-ui;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
}

.btnopp1:hover {
  background-color: #383838;
  color: white;
}

.frame img {
  height: 449px;
  width: 253px;
  margin-left: auto;
  margin-top: -333px;
  border-radius: 35px 35px 0px 0px;
}

.container3 {
  width: 85%;
  margin: auto;
  margin-top: 100px;
  display: flex;
}

.con3child1 {
  background-image: url(./assets/altumcode-P2SkP_PXhlU-unsplashCopy.jpg);
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  object-fit: cover;
  width: 50%;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstpic2 {
  background-image: url(./assets/HNCK3562.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 340px;
  border-radius: 15px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.firstpic3 {
  background-image: url(./assets/windrendering750.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 340px;
  margin-top: 15px;
  border-radius: 15px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.con3child1 img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 10px;
}
.con3child2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.firstpic2 img {
  width: 100%;
  height: 345px;
  object-fit: cover;
  border-radius: 10px;
}
.firstpic3 img {
  width: 100%;
  height: 345px;
  object-fit: cover;
  margin-top: 5px;
  border-radius: 10px;
}

.firstpic2 {
  margin-left: 20px;
  width: 100%;
  height: 350px;
}
.firstpic3 {
  margin-left: 20px;
  width: 100%;
}

#con3child1pre1 {
  color: white;
  font-size: 35px;
  font-family: sans-serif;
}
#con3child1pre2 {
  color: white;
  font-family: system-ui;
  margin-left: 40px;
  cursor: pointer;
}

#con3child2pre1 {
  color: white;
  font-size: 35px;
  font-family: sans-serif;
}
#con3child2pre2 {
  color: white;
  font-family: system-ui;
  margin-left: 40px;
  cursor: pointer;
}
#con3child2pre3 {
  color: white;
  font-size: 35px;
  font-family: sans-serif;
}

#con3child2pre4 {
  color: white;
  font-family: system-ui;
  margin-left: 90px;
  cursor: pointer;
}

.op {
  opacity: 1 !important;
}

.firstpic1:hover {
  opacity: 0.9;
}
.firstpic2:hover {
  opacity: 0.9;
}
.firstpic3:hover {
  opacity: 0.9;
}

.container4 {
  height: 650px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.con4child1 {
  width: 30%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.con4child2 {
  width: 30%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.con4child3 {
  width: 30%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.con4child1 h2 {
  text-align: center;
  font-family: system-ui;
  font-size: 27px;
  font-weight: 500;
}
.con4child1 p {
  font-size: 15px;
  color: #000000e0;
  font-family: system-ui;
  text-align: center;
}
.con4child2 h2 {
  text-align: center;
  font-family: system-ui;
  font-weight: 500;
  font-size: 27px;
}
.con4child2 p {
  font-size: 15px;
  color: #000000e0;
  font-family: system-ui;
  text-align: center;
}
.con4child3 h2 {
  text-align: center;
  font-family: system-ui;
  font-weight: 500;
  font-size: 27px;
}
.con4child3 p {
  font-size: 15px;
  color: #000000e0;
  font-family: system-ui;
  text-align: center;
}

.container4 img {
  width: 230px;
  height: 150px;
}

.container5 {
  width: 85%;
  height: 100px;
  margin: auto;
  position: relative;
}
.contact {
  background-color: #e7816b;
  width: 100%;
  height: 250px;
  margin: auto;
  border-radius: 15px;
  display: flex;
  position: absolute;
  top: -80%;
}
.contact a {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #fffffe;
  font-size: 17px;
  font-family: system-ui;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
}

.getbtn:hover {
  background-color: #383838;
  color: white;
}
#letstalk {
  font-size: 30px;
  color: white;
  margin-left: 80px;
  margin-top: 50px;
}

#readyto {
  color: rgba(255, 255, 255, 0.774);
  margin-left: 80px;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 20px;
}

.btnget {
  margin-left: auto;
  margin-right: 50px;
  margin-top: 100px;
}

.container6 {
  background-color: #1d1d1f;
  height: 450px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.childbot {
  display: flex;
  width: 85%;
  margin-top: 143px;
  margin-left: 100px;
  color: white;
}

.navbot {
  display: flex;
  align-items: center;
}

.navbot img {
  height: 32px;
  margin-right: 5px;
}
.navbot p {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
}
.navlinkbot {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#midlinkbot {
  margin: 20px;
}
.navlinkbot a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: system-ui;
  font-weight: 500;
  cursor: pointer;
}

.adp1 {
  color: #969698;
  font-weight: bold;
  margin-left: 100px;
  font-family: sans-serif;
}

.adp2 {
  margin-left: 100px;
  color: #969698;
  font-family: sans-serif;
  font-size: 11px;
}

.adress {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.midadress p {
  color: #969698;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.endpic {
  display: flex;
  margin-right: 100px;
}
.endpic img {
  cursor: pointer;
  margin-inline-start: 5px;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #333;
  margin: 3px 0;
}

label .menu {
  position: absolute;
  top: -100px;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: -32px;
  width: 40px;
  height: 8px;
  background: #000000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000000;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #f38630;
  text-decoration: none;
}

@media (min-width: 1080px) {
  .menu {
    display: none;
  }
  .bar {
    display: none;
  }
  .hrstyle1 {
    display: none;
  }
  .hrstyle2 {
    width: 85%;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgba(192, 192, 192, 0.212);
    background-color: rgb(156, 160, 152);
    height: 1px;
    border: none;
  }
}

@media (max-width: 1080px) {
  .menu {
    display: none;
  }

  .bar {
    display: none;
  }
  .hrstyle1 {
    display: none;
  }
  .hrstyle {
    display: none;
  }
  .hrstyle1 {
    display: none;
  }

  .container2 {
    height: 900px;
    display: flex;
    justify-content: center;
  }

  .frame {
    margin: auto;
    padding: 0;
    padding-top: 80px;
  }
  .frame img {
    margin: auto;
    margin-top: 46px;
  }

  #pre1 {
    text-align: center;
    font-size: 40px;
    margin-top: -25px;
  }

  #pre2 {
    text-align: center;
    margin-top: 30px;
  }

  .frame button {
    margin-left: 150px;
  }

  .container3 {
    flex-direction: column;
  }

  .con3child1 {
    width: 100%;
    height: 200px;
  }

  .con3child2 {
    width: 100%;
  }

  .firstpic2 {
    height: 200px;
    margin-left: 0;
    margin-top: 5px;
  }

  .firstpic3 {
    height: 200px;
    margin-left: 0;
  }

  .container4 {
    flex-direction: column;
    height: 600px;
  }

  .con4child1 {
    width: 100%;
    flex-direction: row;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  .con4child1 p {
    font-size: 14px;
    text-align: start;
    position: absolute;
    top: 35%;
    margin-left: -150px;
  }

  .con4child2 {
    width: 100%;
    flex-direction: row;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  .con4child2 h2 {
    text-align: center;
    font-family: system-ui;
    font-weight: 500;
    font-size: 27px;
  }
  .con4child2 p {
    font-size: 14px;
    text-align: start;
    position: absolute;
    top: 35%;
    margin-left: -174px;
  }
  .con4child3 {
    width: 100%;
    flex-direction: row;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  .con4child3 h2 {
    text-align: center;
    font-family: system-ui;
    font-weight: 500;
    font-size: 27px;
  }
  .con4child3 p {
    font-size: 14px;
    text-align: start;
    position: absolute;
    top: 35%;
    margin-left: -112px;
  }

  .container5 {
    position: static;
  }
  .contact {
    width: 100%;
    position: relative;
    left: 0%;
    top: 20%;
    height: 340px;
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
  }
  #letstalk {
    font-size: 35px;
    color: white;
    margin-left: 0px;
  }
  #readyto {
    margin-top: 40px;
    margin-left: 0px;
  }
  .btnget {
    margin-left: 50px;
    margin-top: 50px;
  }

  .container6 {
    margin-top: 140px;
  }
  .contact button {
    margin-top: -30px;
  }

  .hrstyle2 {
    margin-top: 30px;
  }

  .adress {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .navitems {
    display: none;
  }

  .menu {
    display: block;
  }
  .bar {
    display: block;
  }

  #pre1 {
    font-size: 37px;
  }
  .frame img {
    margin: auto;
    margin-top: 59px;
  }
  .container2 {
    width: auto;
  }

  .container3 {
    align-items: center;
  }
  .container4 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin-top: 50px;
  }
  .con4child1 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .con4child1 p {
    font-size: 14px;
    position: unset;
    margin-left: 0px;
    text-align: -webkit-center;
  }
  .con4child1 pre {
    position: unset;
  }

  .con4child2 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .con4child2 p {
    position: unset;
    margin-left: 0px;
    text-align: -webkit-center;
  }
  .con4child2 pre {
    position: unset;
  }
  .con4child3 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .con4child3 p {
    margin-top: 0px;
    position: unset;
    margin-left: 0px;
    text-align: -webkit-center;
  }
  .con4child3 pre {
    position: unset;
  }
  #readyto {
    font-size: 11px;
  }

  .contact {
    top: 100%;
  }
  .container6 {
    margin-top: 250px;
    height: 600px;
  }

  .navlinkbot {
    margin-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }
  .childbot {
    flex-direction: column;
    margin-left: 50px;
  }
  .navbot {
    display: flex;
    margin: auto;
  }

  .hrstyle2 {
    margin-top: -120px;
    width: 80%;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
  .adress {
    flex-direction: column;
    margin: auto;
  }
  .adp1 {
    margin-left: 0px;
  }
  .adp2 {
    margin-left: 0px;
  }
  .adr1 {
    margin-top: 100px;
  }

  .midadress {
    margin-top: 40px;
  }

  .endpic {
    margin-right: 20px;
    margin-top: 30px;
  }
}
